#######################################################
# Installation
#######################################################
# The 'install' command is deprecated. Use methods as individual commands
# Use CDROM installation media
cdrom

# Perform installation in non-interactive text mode
text --non-interactive

# Initial Setup is not started the first time the system
firstboot --disabled

# Prevent initial setup from prompting the license
# agreement after installation and reboot the system
# for the first time
eula --agreed

# X Window System and the installer GUI are not
# configured/loaded, no display manager.
skipx

# Reboot after installation is successfully completed
reboot --eject

%addon com_redhat_kdump --disable
%end

#%addom com_redhat_oscap
#    content-type  = scap-security-guide
#    datastream-id = scap_org.open-scap_datastream_from_xccdf_ssg-rhel9-xccdf.xml
#    xccdf-id      = scap_org.open-scap_cref_ssg-rhel9-xccdf.xml
     # CIS L1
#    profile       = xccdf_org.ssgproject.content_profile_cis_server_l1
     # CIS L2
#    profile       = xccdf_org.ssgproject.content_profile_cis
#%end

#######################################################
# System Language, Keyboard layout, and Timezone
#######################################################
# System language
lang en_US.UTF-8

# Keyboard
#keyboard us
keyboard --xlayouts='us'
keyboard --vckeymap=us --xlayouts='us'

# System timezone
timezone Etc/UTC --utc

#######################################################
# Authentication
#######################################################
authselect select sssd

#######################################################
# Users and passwords
#######################################################
# root password
rootpw --plaintext vagrant
user --groups=wheel,vagrant --name=vagrant --plaintext --password vagrant --uid=5001 --gid=5001 --gecos="vagrant"

#######################################################
# Network Configuration
#######################################################
network --bootproto=dhcp --onboot=on --noipv6 --activate

#######################################################
# Services
#######################################################
services --enabled=firewalld,NetworkManager,sshd
services --disabled=cups,nfslock,smartd,avahi

#######################################################
# Firewall
#######################################################
firewall --enabled --ssh
firewall --enabled --service=ssh

#######################################################
# SELinux policy
#######################################################
selinux --enforcing

#######################################################
# Bootloader, Disks, and Partitions
#######################################################
ignoredisk --only-use=sda
#ignoredisk --only-use=nvme0n1

bootloader --location=boot
#bootloader --append="rhgb quiet crashkernel=1G-4G:192M,4G-64G:256M,64G-:512M"

# Initialize any invalid/unused partition tables
zerombr

# Remove /wipe partitions from the system, prior to
# creation of new partitions
# --all erases all partitions
# --initlabel initializes disk(s) by creating default disk label
clearpart --all --initlabel

# Disk partitioning information
# Create system partitions
# 1. Create boot loader using GPT of size 1MiB
# 2. Create kernel boot partition. 1GiB should suffice
part biosboot --fstype="biosboot" --ondisk=sda --size=1
part pv.150   --fstype="lvmpv"    --ondisk=sda --size=40960
part /boot    --fstype="xfs"      --ondisk=sda --size=1024

# Create Logical Volume Management group (LVM)
volgroup cl_cis --pesize=4096 pv.150

logvol /              --fstype="xfs"  --size=6144 --name=root          --vgname=cl_cis
logvol swap           --fstype="swap" --size=2048 --name=swap          --vgname=cl_cis
logvol /tmp           --fstype="xfs"  --size=2048 --name=tmp           --vgname=cl_cis --fsoptions="nodev,noexec,nosuid"
logvol /var           --fstype="xfs"  --size=8192 --name=var           --vgname=cl_cis --fsoptions="nodev,nosuid"
logvol /var/tmp       --fstype="xfs"  --size=2048 --name=var_tmp       --vgname=cl_cis --fsoptions="nodev,noexec,nosuid"
logvol /var/log       --fstype="xfs"  --size=2048 --name=var_log       --vgname=cl_cis --fsoptions="nodev,noexec,nosuid"
logvol /var/log/audit --fstype="xfs"  --size=3072 --name=var_log_audit --vgname=cl_cis --fsoptions="nodev,noexec,nosuid"
logvol /home          --fstype="xfs"  --size=4096 --name=home          --vgname=cl_cis --fsoptions="nodev,nosuid"
logvol /dev/shm       --fstype="xfs"  --size=2048 --name=dev_shm       --vgname=cl_cis --fsoptions="nodev,noexec,nosuid"
logvol /data          --fstype="xfs"  --size=3072 --name=data          --vgname=cl_cis


%packages --ignoremissing --excludedocs --inst-langs=en
@Core
@^minimal-environment
#kexec-tools
#-dracut-config-rescue
-iwl*firmware
#-plymouth
# CIS RHEL 9 Benchmark
#aide
#audit
#libselinux
#openscap
#openscap-scanner
#rsyslog
#scap-security-guide
#sudo
# CIS RHEL 9 Benchmark
-avahi
-bind
-cups
-cyrus-imapd
-dhcp-server
-dnsmasq
-dovecot
-ftp
-httpd
-mcstrans
-net-snmp
-nginx
-openldap-clients
-rsync-daemon
-samba
-setroubleshoot
-squid
-telnet
-telnet-server
-tftp
-tftp-server
-vsftpd

%end

%post
echo 'Defaults:vagrant !requiretty' > /etc/sudoers.d/vagrant
echo '%vagrant ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
chmod 440 /etc/sudoers.d/vagrant

# Workaround for:
# 'devices files sys_wwid last seen not founds'
# 'timed out waiting for device /dev/mapper'
sed -i 's/# use_devicesfile = 1/use_devicesfile = 0/g' /etc/lvm/lvm.conf
%end
